<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add    name="DirectOnTime" 
                connectionString="server=NASDVSVDB02;Initial Catalog=DirectOnTime;user id=DOTUSR;password=d0Tu$RD3v;" 
                providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>